<launch>
    <!-- 
        base vega file which brings the vega up and runs the urdf descrition node
    -->
    <include file="$(find turtlebot3_bringup)/launch/vega_robot.launch"/> 
    
<!-- Launch all the manipulator stuff for Dounreay -->
    <include file="$(find vega)/launch/vega_manipulation_view.launch"/>   

<!-- Launch all the Magnox stuff 
    <include file="$(find vega)/launch/vega_urdf.launch"/> -->  

	<!-- commented as cmd_vel (values=0) overlaps with cmd_vel from teleop or joystick -->
    <!-- <node pkg="vega_tools" type="cmd_vel_mux.py" name="cmd_vel_mux"/> -->
    


</launch>
