<?xml version="1.0"?>
<robot name="vega_manipulation" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Include VEGA URDF -->
  <xacro:include filename="$(find vega)/urdf/vega_for_open_manipulator.urdf.xacro"/>

  <!-- Include OpenMANIPULATOR URDF -->
  <xacro:include filename="$(find vega)/urdf/open_manipulator_vega.urdf.xacro"/> 

  <!-- Base fixed joint -->
  <joint name="base_fixed" type="fixed">
    <origin xyz="-0.110 -0.063 0.043" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>  

</robot>
